#toggle:checked~ label i:nth-child(2){display: block;}
 #toggle:checked~ label i:first-child{display:none;}
 #toggle:not(checked)~ label i:first-child(){display: block;}
 #toggle:not(checked)~ label i:nth-child(2){display:none;}
 #toggle:checked~ul{display: block;}
 #toggle:checked~ul div li a{display:block;}
 #data-hora{
   font-size:xx-large;
   padding: 5px;
 }
  .menu{display: flex;flex-wrap: wrap;align-items: center;width: 100%;height:100%;position: fixed;display: none;}
  
  @media screen and (max-width:600px) {.men1{margin-left: 20%;margin-bottom:30%;}.aba{margin-top: 40%;}.seta{width: 14% !important;;}
   .v{margin-left:16%;margin-top:20px;}
   .perfil{width: 13% !important;;}
   .but3{width: 20% !important;margin-right:2px;}
   .but2{margin-left:10px;}
   .pi{float: left;margin-left:20px;}
   .tarefa{width: 90%!important;margin-left:0px !important;}
   
}
   i{font-size: 200%;}
#toggle{display: none;}
   ul div li a{display: none;}
  body{background-color: rgb(217, 248, 169);}
  .menu{float:right;background-color: rgb(60, 100, 0);padding: 20px 20px;}
.menu li{list-style:none;;margin-right:10px;font-size:150%;align-items: center;margin: 30px;}
 a{text-decoration: none;color: white;}
 .mob{display:block;height: 50px;width: 50px;position:absolute;top:15px;right:15px;z-index: 999;}
 .perfil{width:5%;display:inline;margin-bottom: 8px;border-radius:100%;margin-left:10px;margin-top:10px}
 /*Codigo padrão*/
 h1{display:inline-block;text-align: center;margin-left:40%;margin-top: 5px;font-size:150%;}
 .cab{background-color: rgb(113, 150, 58);color: white;}

 .but{width:30%;margin-top:15px;margin-left:10px;}
 .but2{width:30%;margin-top:15px;margin-left:10px;}
 .but3{width:30%;margin-top:15px;margin-left:10px;}

 h2{margin-left:80px;margin-top:20px;}
  .af li{list-style:none;}
.tarefa{width:50%;margin:10px;display:inline;margin-left:50px;}
.at{margin: left 15px !important;}
 .bp{margin-right:30px;}
 pi{text-align: left;}