body{background-color:rgb(217, 248, 169);margin:0 auto;padding:0px;margin-top:5%;} 
.box{max-width:100%;padding:20px;border-radius:10px;}
@media screen and (max-width:600px){
body{margin-top:20%;}
.logo {width:80%;}}
a{text-decoration:none;}
@media screen and (max-width:1024px){body{margin-top:20%;}}
h1{font-size:100%;margin:5px;margin-right:10%;}
h2{font-size:80%;}
.but{display:block;margin-left:11%;margin-top:10px;margin-bottom:10px;}
@media screen and (max-width:600px){h1{margin-right:39%}.but{margin-left:40%;}}
.car{width:215px;}
.sen{margin-left:-40px;}
.but{margin-left:165px;}
@media screen and (max-width:600px){h1{margin-right:39%}.seta{width:10% !important;;}}
.seta{width:5%;display:inline-block;float:left;position:absolute;}